.header {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 10px 0;
}
.logo {
  margin: 0;
  width: 70px;
  height: 70px;
}
.header-left a {
  text-decoration: none;
  color: $secondary-color;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navigation ul li {
  margin-right: 60px;
}
.navigation ul li:last-child {
  margin-right: 0;
}
.navigation ul li a {
  color: $secondary-color;
  text-decoration: none;
  font-size: 19px;
  position: relative;
}
.navigation ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  background-color: $secondary-color;
  height: 1px;
  width: 0;
  transition: 0.3s ease;
}
.navigation ul li a:hover::after {
  width: 100%;
}