@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($bg, $color, $border-color) {
  padding: 10px 20px;
  background-color: $bg;
  color: $color;
  cursor: pointer;
  border: 2px solid $border-color;
  border-radius: 20px;
  font-size: 1.2em;
  transition: all 0.3s ease;
  text-decoration: none;
}