@media screen and (min-width: 501px) and (max-width: 800px) {
  .container {
    width: 90%;
  }
  .header {
    padding: 10px 0;
  }

  .logo {
    width: 60px;
  }

  .navigation ul li {
    margin: 0 5px;
  }

  .navigation ul li a {
    font-size: 1em;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-container::after{
    content: none;
  }

  .contact-form {
    width: 80%;
    margin-left: 24px;
  }
  .contact-form label {
    margin-left: 0;
    text-align: left;
  }

  .contact-form input,
  .contact-form textarea {
    margin-left: 0;
    width: 90%;
  }
  .contact-form button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

    .map {
      width: 90%;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      overflow-x: hidden;
    }
  }
    @media screen and (max-width: 500px) {
      .container {
        width: 90%;
      }
      .header {
        padding: 10px 0;
      }
    
      .logo {
        width: 60px;
      }
    
      .navigation ul li {
        margin: 0 5px;
      }
    
      .navigation ul li a {
        font-size: 1em;
      }
      .contact-container {
        flex-direction: column;
      }
      .contact-container::after{
        content: none;
      }
    
      .contact-form {
        width: 80%;
        margin-left: 24px;
      }
      .contact-form label {
        margin-left: 0;
        text-align: left;
      }
    
      .contact-form input,
      .contact-form textarea {
        margin-left: 0;
        width: 90%;
      }
      .contact-form button {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    
        .map {
          width: 100%;
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
          overflow-x: hidden;
        }
      }