@import 'variables';
@import 'mixins';
@import 'header';
@import 'home';
@import 'about';
@import 'skills';
@import 'projects';
@import 'contact';
@import 'footer';
@import 'responsive';

html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}